html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.font-link {
  font-family: 'Hobo Std';
  font-family: 'Hobo Std Medium';
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter, sans-serif';
  height: 100%;
  background-color: #ccc;
}

#root {
  height: 100%;
}

.header {
  height: 5%;
  background-color: black;
}

.wrapper {
  margin: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table {
  background-color: white;
  border: 1px solid #d0d5dd;
  border-radius: 38px;
  padding: 5%;
  min-width: 510px;
  width: 80%;
}

.table-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.table-title__text {
  width: 95%;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.table-title__menuIcon {
  width: 5%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid var(--cloud-500);
  background-color: #f9fafb;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  color: #475466;
  font-size: 16px;
}

th {
  background-color: #5a0078;
  color: white
}

tr {
  cursor: pointer;
}

.warning {
  color: red;
  font-size: 15px;
  margin-top: 15px;
}

